.name {
   text-align: center;
   margin-bottom: 20px;
   padding-top: 30px;
}
.slider__wrap{
max-width: 800px; 
margin: 0 auto;
}

.slider__viewport{
margin:  20px auto;
width: 80vw;
overflow: hidden;
}

.slider {
width:400vw;
display: flex;
justify-content: start;
flex-wrap: nowrap;
position: relative;
margin-bottom: 20px;
}

.slide {
width: 80vw;
}

img{
width: 80vw; 
}

.slider__control-button {
padding: 20px;
position: absolute;
top: 50%;
background: rgb(84, 184, 224);
border-radius: 30px;
cursor: pointer;
transition: .5s;
}
.slider__control-button:hover {
background-color: #716df5;
}

.slider__button_prev {
left: 20px;
}
.slider__button_next {
right: 20px;
}

#viewSlider{
   display:flex;
   justify-content: center;
   gap: 10px;
   padding-bottom:20px ;
}
.viewSlide {
   width: 20px;
   height: 20px;
   background-color: yellow;
border-radius: 100%;

}

.viewSlide.active{
   background-color: red;
}