.slider__wrap{
   width: 80vw;
max-width: 1000px;
height: auto; 
margin: 0 auto;
}

.slider__viewport{
margin:  20px auto;
width: 100%;
overflow: hidden;
/* border-radius: 20px; */
}

.slider {
width: calc(100%*5);
display: flex;
justify-content: start;
flex-wrap: nowrap;
position: relative;
margin-bottom: 20px;
transition: 0.5s;
}

.slide {
width: 100%;
}

img{
width: 100%; 
border-radius: 30px;
}

.slider__control-button {
padding: 20px;
position: absolute;
top: 50%;
border: 2px solid #8b0058;
background-color:#E6E6FA;
border-radius: 40px;
cursor: pointer;
transition: .5s;
font-size: 25px;
color: #8b0058;
}

.slider__control-button:hover {
background-color: #716df5;
}

.slider__button_prev {
left: 10%;
}
.slider__button_next {
right: 10%;
}

#viewSlider{
   display:flex;
   justify-content: center;
   gap: 10px;
   padding-bottom:20px ;
}
.viewSlide {
   width: 20px;
   height: 20px;
   background-color: yellow;
border-radius: 100%;
}
