#time{
    border: 2px solid #8b0058;
    background-color:#E6E6FA;
    border-radius: 5px;

}

#button{
    border-radius: 5px;
    border: 2px solid #8b0058;
    background-color:#E6E6FA;
}

#timer{
}